.button-primary {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius);
    font-size: var(--font-size-medium);
    cursor: pointer;
  }
  
  .button-primary:hover {
    background-color: #145ea8;
  }
  
  .button-secondary {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: var(--spacing-small) var(--spacing-medium);
    border-radius: var(--border-radius);
    font-size: var(--font-size-medium);
    cursor: pointer;
  }
  
  .button-secondary:hover {
    background-color: #a3003b;
  }
  