.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border: 2px solid var(--border-color);
    box-shadow: 24px;
    padding: var(--spacing-medium);
    border-radius: var(--border-radius);
  }
  
  .modal-title {
    font-size: var(--font-size-large);
    margin-bottom: var(--spacing-small);
  }
  
  .modal-content {
    margin-bottom: var(--spacing-medium);
  }
  
  .modal-button-container {
    text-align: right;
  }
  